<a href="https://colab.research.google.com/github/XimenaCS/Mineria_de_Datos/blob/main/Ej_python_1850231.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Ejercicios 1-5**
**Ejercicio 1:**
Realiza una variable con tu matricula y realiza una secuencia de imprimir con tu nombre y tu matricula concatenados.

In [ ]:
Matricula = int(input("Introduce tu matrícula: "))
Nombre=input("Introduce tu nombre: ")
print(Nombre, Matricula)

Introduce tu matrícula: 1850231
Introduce tu nombre: Ximena Cid
Ximena Cid 1850231

**Ejercicio 2:**
Pidiendo el input del usuario pide dos números y crea una pequeña calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [ ]:
a = float(input("Ingresa número 1: "))
b = float(input("Ingresa número 2: "))
z= input("Ingresa la operación deseada (SUMA/RESTA/DIVISION/MULTIPLICACION/EXPONENTE): ")
if z == "SUMA": 
    r = a+b
elif z == "RESTA":
    r=a-b
elif z == "DIVISION": 
    r=a/b
elif z == "MULTIPLICACION": 
    r=a*b
else: 
    r=a**b
            
print("El/La", z, "es: ",r)

Ingresa número 1: 5
Ingresa número 2: 2
Ingresa la operación deseada (SUMA/RESTA/DIVISION/MULTIPLICACION/EXPONENTE): EXPONENTE
El/La EXPONENTE es:  25.0

**Ejercicio 3:**
Con loop while o for, realiza una lista de 10 numeros multiplos de 3, y después realiza una función de loop que sume todos los números dentro del arreglo.

In [ ]:
x=0
z=0
for i in range (1,11):
    x = i*3
    z = z+x
    print(x)
print ("La suma del arreglo es: ", z)

3
6
9
12
15
18
21
24
27
30
La suma del arreglo es:  165

**Ejercicio 4:**
*   Con una función de if else, revisar si un número es par o es impar.
*   Con una función de if else, revisar si un número es primo o no.

In [ ]:
x = int(input("Ingresar un número: "))
#CHECA SI ES PAR
if x%2 == 0:
    print(x, "es un número par")
else:
    print(x, "no es un número par")

#CHECA SI ES PRIMO   
valor= range(2,x)
contador = 0
for n in valor:
  if x % n == 0:
    contador +=1
    print("Divisor:", n)
 
if contador > 0 :
  print("El número no es primo" )
else:
  print("El número es primo")

Ingresar un número: 11
11 no es un número par
El número es primo

**Ejercicio 5:**
Utilizando diferentes clases en python, crea una calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [ ]:
class cal():
    def __init__(self,a,b):
        self.a=a
        self.b=b
    def add(self):
        return self.a+self.b
    def mul(self):
        return self.a*self.b
    def div(self):
        return self.a/self.b
    def sub(self):
        return self.a-self.b
a=int(input("Ingresa el primer número: "))
b=int(input("Ingresa el segundo número: "))
obj=cal(a,b)
z=1
while z!=0:
    print("0. Salir")
    print("1. Sumar")
    print("2. Restar")
    print("3. Multiplicar")
    print("4. Dividir")
    z=int(input("Ingresa una opción: "))
    if z==1:
        print("Resultado: ",obj.add())
    elif z==2:
        print("Resultado: ",obj.sub())
    elif z==3:
        print("Resultado: ",obj.mul())
    elif z==4:
        print("Resultado: ",round(obj.div(),2))
    elif z==0:
        print("Saliendo!")
    else:
        print("Opción invalida")
 
#Fuente https://www.sanfoundry.com/python-program-class-performs-basic-calculator-operations/

Ingresa el primer número: 5
Ingresa el segundo número: 2
0. Salir
1. Sumar
2. Restar
3. Multiplicar
4. Dividir
Ingresa una opción: 1
Resultado:  7
0. Salir
1. Sumar
2. Restar
3. Multiplicar
4. Dividir
Ingresa una opción: 2
Resultado:  3
0. Salir
1. Sumar
2. Restar
3. Multiplicar
4. Dividir
Ingresa una opción: 3
Resultado:  10
0. Salir
1. Sumar
2. Restar
3. Multiplicar
4. Dividir
Ingresa una opción: 4
Resultado:  2.5
0. Salir
1. Sumar
2. Restar
3. Multiplicar
4. Dividir
Ingresa una opción: 0
Saliendo!

# **Tuplas**
Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.

In [ ]:
a = 5.15
b = 10
c = True
d = 4 + 2j
print("La variable a es de tipo: ", type (a))
print("La variable b es de tipo: ", type (b))
print("La variable c es de tipo: ", type (c))
print("La variable d es de tipo: ", type (d))

La variable a es de tipo:  <class 'float'>
La variable b es de tipo:  <class 'int'>
La variable c es de tipo:  <class 'bool'>
La variable d es de tipo:  <class 'complex'>

Crear una tupla con valores enteros, imprimir el primer y último valor.

In [ ]:
t=(1, 2, 3, 4, 5)
print ("El primer valor de la tupla es: ", t[0])
print ("El último valor de la tupla es: ", t[4])

El primer valor de la tupla es:  1
El último valor de la tupla es:  5

Añadir 3 valores de string a la tupla

In [ ]:
tupla = (1, ['a', 'b'], 'z', 8)
print("Tupla original: ",tupla)
tupla[1].append('c') # tupla[1] hace referencia a la lista
tupla[1].append('d') 
tupla[1].append('e') 
print("Tupla nueva: ",tupla)

#Fuente https://j2logo.com/python/tutorial/tipo-tuple-python/#tuple-update

Tupla original:  (1, ['a', 'b'], 'z', 8)
Tupla nueva:  (1, ['a', 'b', 'c', 'd', 'e'], 'z', 8)

Verificar si una variable existe dentro de la tupla.

In [ ]:
t=(1, 2, 3, 4, 5)
print("¿El 3 está en la tupla?", 3 in t)
print("¿El 0 está en la tupla?", 0 in t)

¿El 3 está en la tupla? True
¿El 0 está en la tupla? False

# **Listas**
Crear una lista con 40 elementos aleatorios enteros.

In [ ]:
import random as r
L = []
for i in range (1,41):
    L.append(r.randint(1, 1000))
print (L)

[864, 253, 221, 557, 338, 122, 684, 306, 807, 736, 150, 594, 28, 937, 513, 310, 541, 423, 33, 890, 410, 659, 736, 188, 856, 59, 83, 889, 469, 540, 751, 614, 114, 650, 259, 719, 483, 966, 820, 49]

Con una funcion (def) crear dos listas nuevas a partir de la lista creada por numeros aleatorios, en la cual en una esten los elementos pares, y en la otra los elementos impares.

In [ ]:
#PARES
def pares(x):
    p = []
    for n in x:
        if n % 2 == 0:
            p.append(n)     
    return p
a=pares(L)
#IMPARES
def impares(x):
    i = []
    for n in x:
        if n % 2 != 0:
            i.append(n)       
    return i
b=impares(L)
print ("La lista de pares es: ", a)
print ("La lista de impares es: ", b)

La lista de pares es:  [864, 338, 122, 684, 306, 736, 150, 594, 28, 310, 890, 410, 736, 188, 856, 540, 614, 114, 650, 966, 820]
La lista de impares es:  [253, 221, 557, 807, 937, 513, 541, 423, 33, 659, 59, 83, 889, 469, 751, 259, 719, 483, 49]

Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.

In [ ]:
x=[]
y=[]

for i in range(0,len(a)):
        x.append(a[i])
    
for i in range(0,len(b)):
        y.append(b[i])

print("Pares",x)
print("Impares",y)

Pares [864, 338, 122, 684, 306, 736, 150, 594, 28, 310, 890, 410, 736, 188, 856, 540, 614, 114, 650, 966, 820]
Impares [253, 221, 557, 807, 937, 513, 541, 423, 33, 659, 59, 83, 889, 469, 751, 259, 719, 483, 49]

Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor.

In [ ]:
print("Pares ordenados",sorted(x))
print("Impares ordenados",sorted(y))

Pares ordenados [28, 114, 122, 150, 188, 306, 310, 338, 410, 540, 594, 614, 650, 684, 736, 736, 820, 856, 864, 890, 966]
Impares ordenados [33, 49, 59, 83, 221, 253, 259, 423, 469, 483, 513, 541, 557, 659, 719, 751, 807, 889, 937]

Utilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos.

In [ ]:
#Imprime el último elemento de la lista
print(L[-1])
#Suma 1 a todos los elementos de la lista
for i in range(len(L)):
    L[i]-=10
print(L)
#Imprime los primeros 5 de la lista
print(L[0:4])
#Inserta un elemento en la lista
L.insert(0,4000)
print(L)

49
[854, 243, 211, 547, 328, 112, 674, 296, 797, 726, 140, 584, 18, 927, 503, 300, 531, 413, 23, 880, 400, 649, 726, 178, 846, 49, 73, 879, 459, 530, 741, 604, 104, 640, 249, 709, 473, 956, 810, 39]
[854, 243, 211, 547]
[4000, 854, 243, 211, 547, 328, 112, 674, 296, 797, 726, 140, 584, 18, 927, 503, 300, 531, 413, 23, 880, 400, 649, 726, 178, 846, 49, 73, 879, 459, 530, 741, 604, 104, 640, 249, 709, 473, 956, 810, 39]

# **Diccionarios**
Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.

In [ ]:
diccionario = {"Ximena":12,"Regina":19,"Diego":30,"César":71,"José":20,"Lizeth":22}
print(diccionario)

{'Ximena': 12, 'Regina': 19, 'Diego': 30, 'César': 71, 'José': 20, 'Lizeth': 22}

Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.

In [ ]:
z=diccionario.values()
print(sorted(z))

[12, 19, 20, 22, 30, 71]

Usando el diccionario y un loop, imprimir solo los nombres.

In [ ]:
y = []
for e in diccionario:
    y.append(e)
print(y)

#Fuente https://j2logo.com/python/tutorial/tipo-dict-python/

['Ximena', 'Regina', 'Diego', 'César', 'José', 'Lizeth']

Añadir dos personas nuevas a tu diccionario, incluyendo edad.

In [ ]:
diccionario.setdefault("Cristina",20)
diccionario.setdefault("Daniel",25)
print(diccionario)

{'Ximena': 12, 'Regina': 19, 'Diego': 30, 'César': 71, 'José': 20, 'Lizeth': 22, 'Cristina': 20, 'Daniel': 25}

# **Sets**
Crea un set con 100 numeros aleatorios enteros del 1 al 25.

In [ ]:
import random as r
L = []
for i in range (0,100):
    L.append(r.randint(1, 25))
s = set(L)
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25}

Comprueba la longitud de tu set

In [ ]:
print(len(s))

25

Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.

In [ ]:
L2=[]
for i in range (0,5):
    L2.append(r.randint(1, 10))
print(L2)

for i in range (0,5):
        print(L2[i] in s)

[6, 4, 6, 9, 2]
True
True
True
True
True